In [1]:
import matplotlib.pyplot as plt
import numpy as np
from tqdm import tqdm
import os.path
from scipy import stats
import random
import PIL.ImageDraw as ImageDraw
import PIL.Image as Image
import math

In [10]:
def load_images():
    img_path = './imgs/'
    imgs = []
    for file in tqdm(os.listdir(img_path)):
        imgs.append(np.array(Image.open(img_path + file)))
    return imgs

In [11]:
img = load_images()[0]

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 38.56it/s]

In [12]:
def generate_histogram(img):
    """
    @params: img: can be a grayscale or color image. We calculate the Normalized histogram of this image.
    @params: do_print: if or not print the result histogram
    @return: will return both histogram and the grayscale image 
    """
    if len(img.shape) == 3: # img is colorful, so we convert it to grayscale
        gr_img = np.mean(img, axis=-1)
    else:
        gr_img = img
    '''now we calc grayscale histogram'''
    gr_hist = np.zeros([256])

    for x_pixel in range(gr_img.shape[0]):
        for y_pixel in range(gr_img.shape[1]):
            pixel_value = int(gr_img[x_pixel, y_pixel])
            gr_hist[pixel_value] += 1
            
    '''normalizing the Histogram'''
    ##gr_hist /= (gr_img.shape[0] * gr_img.shape[1])
    return gr_hist, gr_img

In [13]:
len(generate_histogram(img)[0])

256

In [6]:
pixel_count1 = generate_histogram(img)[0]

In [7]:
intensity = list(range(0,256))

In [8]:
import pandas as pd

In [18]:
pd.DataFrame(pixel_count1, columns = ['pixel_count1'])

     pixel_count1
0            75.0
1             0.0
2            53.0
3            61.0
4            82.0
..            ...
251           0.0
252           0.0
253           0.0
254           0.0
255           0.0

[256 rows x 1 columns]

In [14]:
pixel_count2 = generate_histogram(img)[0]

In [15]:
pixel_count2

array([4.0000e+00, 8.0000e+00, 9.0000e+00, 1.2000e+01, 2.5000e+01,
       3.1000e+01, 5.6000e+01, 5.4000e+01, 7.0000e+01, 9.5000e+01,
       9.0000e+01, 1.0000e+02, 1.3700e+02, 1.4400e+02, 1.4000e+02,
       1.3600e+02, 1.3400e+02, 1.1600e+02, 1.4100e+02, 1.0000e+02,
       1.2700e+02, 1.3400e+02, 1.3800e+02, 1.3300e+02, 1.5000e+02,
       1.6200e+02, 1.3400e+02, 1.4700e+02, 1.2500e+02, 1.8600e+02,
       1.7300e+02, 1.7000e+02, 1.7500e+02, 1.7500e+02, 1.5900e+02,
       1.7500e+02, 1.7700e+02, 1.7000e+02, 1.8300e+02, 2.1500e+02,
       2.3100e+02, 2.4000e+02, 2.2000e+02, 2.2500e+02, 2.3100e+02,
       2.3600e+02, 2.5700e+02, 2.3500e+02, 2.8000e+02, 2.7100e+02,
       2.5000e+02, 2.7800e+02, 2.5800e+02, 2.7400e+02, 2.8000e+02,
       2.6000e+02, 2.6700e+02, 3.1500e+02, 3.0400e+02, 3.5900e+02,
       3.7500e+02, 3.2200e+02, 3.5300e+02, 3.5800e+02, 3.8000e+02,
       3.7900e+02, 4.2800e+02, 4.3000e+02, 4.6000e+02, 5.2500e+02,
       5.1300e+02, 5.5200e+02, 5.9000e+02, 6.4100e+02, 6.5500e+02,
       7.1100e+02, 7.2700e+02, 7.9400e+02, 8.3600e+02, 8.8300e+02,
       9.2000e+02, 1.0360e+03, 1.0830e+03, 1.1480e+03, 1.2210e+03,
       1.2770e+03, 1.4000e+03, 1.5500e+03, 1.6410e+03, 1.6410e+03,
       1.7850e+03, 1.9190e+03, 1.9580e+03, 2.0960e+03, 2.0950e+03,
       2.2610e+03, 2.4340e+03, 2.6150e+03, 2.6570e+03, 2.6560e+03,
       3.0150e+03, 3.0930e+03, 3.3430e+03, 3.5320e+03, 3.7430e+03,
       3.8030e+03, 3.9100e+03, 4.0530e+03, 4.4390e+03, 4.6100e+03,
       4.6280e+03, 4.9630e+03, 5.0150e+03, 5.3750e+03, 5.5940e+03,
       5.8440e+03, 5.9670e+03, 6.3210e+03, 6.3430e+03, 6.4900e+03,
       6.6280e+03, 6.8940e+03, 7.3050e+03, 7.6290e+03, 8.3200e+03,
       8.6590e+03, 9.0290e+03, 9.3240e+03, 1.0026e+04, 1.0428e+04,
       1.0483e+04, 1.0481e+04, 9.9330e+03, 9.6140e+03, 9.6250e+03,
       9.6330e+03, 9.5840e+03, 9.6670e+03, 9.8020e+03, 1.0211e+04,
       1.1106e+04, 1.1893e+04, 1.2829e+04, 1.3589e+04, 1.3267e+04,
       1.2739e+04, 1.3442e+04, 1.3339e+04, 1.3100e+04, 1.2556e+04,
       1.2564e+04, 1.1438e+04, 1.1334e+04, 1.1223e+04, 1.1127e+04,
       1.0043e+04, 1.0432e+04, 9.8780e+03, 9.5700e+03, 8.8550e+03,
       9.7330e+03, 7.1880e+03, 7.3330e+03, 7.3580e+03, 7.6160e+03,
       8.3210e+03, 9.4390e+03, 7.1080e+03, 7.9950e+03, 7.5290e+03,
       7.9400e+03, 7.0630e+03, 7.0720e+03, 3.9560e+03, 3.7450e+03,
       2.5640e+03, 1.5980e+03, 1.6940e+03, 1.3010e+03, 1.0600e+03,
       9.8200e+02, 8.0800e+02, 7.6500e+02, 6.9100e+02, 6.7800e+02,
       6.5800e+02, 5.9200e+02, 6.0400e+02, 6.0600e+02, 5.4600e+02,
       5.5300e+02, 5.7300e+02, 5.8100e+02, 5.3000e+02, 5.3600e+02,
       5.3100e+02, 5.2200e+02, 5.2600e+02, 5.2200e+02, 5.2800e+02,
       5.6000e+02, 5.7300e+02, 5.5500e+02, 5.6300e+02, 5.5500e+02,
       5.8500e+02, 6.1300e+02, 5.7300e+02, 6.7800e+02, 6.7000e+02,
       6.1000e+02, 6.4100e+02, 6.4500e+02, 6.7900e+02, 6.1100e+02,
       7.0300e+02, 6.1700e+02, 6.2800e+02, 5.8800e+02, 6.5200e+02,
       6.5200e+02, 5.9700e+02, 5.7000e+02, 5.3400e+02, 5.4800e+02,
       5.5200e+02, 5.7300e+02, 4.9400e+02, 4.9200e+02, 4.8100e+02,
       4.9200e+02, 5.3800e+02, 5.1300e+02, 5.0500e+02, 5.4800e+02,
       6.3100e+02, 6.1300e+02, 5.9100e+02, 4.2600e+02, 3.7300e+02,
       2.6400e+02, 2.1700e+02, 1.9300e+02, 1.9600e+02, 1.8100e+02,
       2.0900e+02, 8.1000e+01, 2.0000e+01, 5.0000e+00, 1.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00])

In [16]:
pd.DataFrame(pixel_count2, columns = ['pixel_count2'])

     pixel_count2
0             4.0
1             8.0
2             9.0
3            12.0
4            25.0
..            ...
251           0.0
252           0.0
253           0.0
254           0.0
255           0.0

[256 rows x 1 columns]

In [17]:
pixel_count1

array([7.500e+01, 0.000e+00, 5.300e+01, 6.100e+01, 8.200e+01, 7.700e+01,
       4.200e+01, 5.900e+01, 7.700e+01, 9.200e+01, 2.260e+02, 9.400e+01,
       1.450e+02, 2.060e+02, 2.050e+02, 4.110e+02, 5.250e+02, 4.970e+02,
       7.160e+02, 7.300e+02, 8.970e+02, 7.440e+02, 7.320e+02, 8.220e+02,
       8.710e+02, 8.170e+02, 7.550e+02, 9.890e+02, 1.147e+03, 1.112e+03,
       1.024e+03, 1.115e+03, 1.084e+03, 1.283e+03, 1.361e+03, 1.195e+03,
       1.272e+03, 1.208e+03, 1.328e+03, 1.518e+03, 1.610e+03, 1.487e+03,
       1.198e+03, 1.354e+03, 1.348e+03, 1.397e+03, 1.323e+03, 1.445e+03,
       1.405e+03, 1.484e+03, 1.373e+03, 1.309e+03, 1.377e+03, 1.392e+03,
       1.195e+03, 1.170e+03, 1.090e+03, 1.253e+03, 1.327e+03, 1.321e+03,
       1.263e+03, 1.226e+03, 1.316e+03, 1.562e+03, 1.477e+03, 1.734e+03,
       1.611e+03, 1.622e+03, 1.787e+03, 1.834e+03, 1.796e+03, 1.974e+03,
       1.828e+03, 1.986e+03, 2.138e+03, 2.055e+03, 2.118e+03, 2.113e+03,
       2.158e+03, 2.031e+03, 2.087e+03, 2.012e+03, 2.085e+03, 2.213e+03,
       2.452e+03, 1.532e+03, 1.492e+03, 1.381e+03, 1.374e+03, 1.281e+03,
       1.195e+03, 1.204e+03, 1.049e+03, 1.033e+03, 9.470e+02, 9.590e+02,
       9.670e+02, 8.510e+02, 9.690e+02, 8.890e+02, 8.270e+02, 8.420e+02,
       8.160e+02, 7.740e+02, 7.990e+02, 9.200e+02, 7.180e+02, 7.980e+02,
       7.490e+02, 7.730e+02, 8.380e+02, 7.230e+02, 7.170e+02, 7.470e+02,
       6.310e+02, 6.110e+02, 6.770e+02, 6.020e+02, 6.270e+02, 5.420e+02,
       6.050e+02, 6.370e+02, 6.440e+02, 6.110e+02, 5.850e+02, 6.640e+02,
       5.450e+02, 5.320e+02, 6.110e+02, 5.610e+02, 5.680e+02, 6.100e+02,
       4.690e+02, 4.970e+02, 5.370e+02, 5.460e+02, 5.040e+02, 4.860e+02,
       5.640e+02, 5.260e+02, 4.870e+02, 5.240e+02, 4.870e+02, 5.440e+02,
       5.530e+02, 6.420e+02, 4.890e+02, 4.650e+02, 5.360e+02, 5.570e+02,
       6.100e+02, 4.830e+02, 5.520e+02, 4.490e+02, 4.160e+02, 4.020e+02,
       3.740e+02, 4.110e+02, 3.530e+02, 3.250e+02, 3.950e+02, 3.670e+02,
       3.470e+02, 3.120e+02, 3.280e+02, 3.170e+02, 2.620e+02, 2.690e+02,
       2.720e+02, 2.190e+02, 2.570e+02, 2.360e+02, 1.670e+02, 1.340e+02,
       1.420e+02, 1.010e+02, 1.050e+02, 1.050e+02, 7.900e+01, 5.500e+01,
       4.500e+01, 1.200e+01, 1.200e+01, 3.000e+00, 1.000e+00, 2.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
       0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00])

In [ ]:
generate_histogram(img)

In [19]:
r = np.corrcoef(pixel_count1, pixel_count2)

In [20]:
r

array([[ 1.        , -0.07814372],
       [-0.07814372,  1.        ]])